# Ignore node_modules
node_modules/

# Ignore any other directories or files
# e.g., ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories (if applicable)
dist/
build/
