@if(product){
<div class="container mx-auto my-10">
    <div class="flex flex-col lg:flex-row gap-8">

        <div class="w-full lg:w-1/2">
            <div class="product-gallery">
                <img [src]="selectedImage || product?.images[0]" alt="Product Image"
                    class="w-full h-full object-contain mb-4 shadow-lg p-10">
                <div class="flex space-x-4">
                    <img *ngFor="let image of product?.images" [src]="image" alt="Thumbnail"
                        (click)="onImageSelect(image)"
                        class="cursor-pointer w-20 h-20 rounded-md shadow-md transition-transform object-contain  hover:scale-105 border-2"
                        [class.border-blue-500]="image === selectedImage">
                </div>
            </div>
        </div>

        <div class="w-full lg:w-1/2 flex flex-col space-y-6">
            <h1 class="text-3xl font-bold">{{ product?.name }}</h1>

            <p class="text-sm">{{ product?.shortDescription }}</p>
            <div class="text-2xl font-semibold flex justify-between items-center w-60">

                <span *ngIf="product?.discount > 0" class="text-green-600">
                    ₹{{ (product.price - (product.price * product.discount / 100)).toFixed(0) }}
                </span>
                <span *ngIf="product?.discount > 0" class="text-sm text-gray-500 ml-2">
                    ({{ product?.discount }}% off)
                </span>
                <span class="text-red-600 line-through" *ngIf="product?.discount > 0">
                    ₹{{ product?.price }}
                </span>

                <span *ngIf="!product?.discount || product?.discount === 0">
                    ₹{{ product?.price }}
                </span>
            </div>

            <div class="text-gray-700">
                <p>
                    {{ product?.description }}
                </p>
            </div>


            <!-- <div class="product-details mt-4">
                <h2 class="text-lg font-semibold mb-2">Product Details</h2>
                <ul class="space-y-2 text-gray-600">
                    <li><strong>Category:</strong> {{ product?.category?.name || 'N/A' }}</li>
                    <li><strong>Brand:</strong> {{ product?.brand?.name || 'N/A' }}</li>
                </ul>
            </div> -->
            @if(!authService.isAdmin){
            <div class="flex gap-8">

                <button mat-flat-button class="flex items-center justify-center gap-1" color="primary"
                    aria-label="Add to Wishlist" (click)="onClickWishlist(product,$event)">
                    <ng-container>
                        @if(isInWishlist(product)){
                        <mat-icon class="text-red-500">
                            'favorite'
                        </mat-icon>
                        <span>Remove from wishlist</span>
                        }@else {
                        <mat-icon>
                            'favorite_border'
                        </mat-icon>
                        <span>Add to wishlist</span>
                        }
                    </ng-container>
                </button>
                <button mat-flat-button color="primary" aria-label="Toggle Cart" (click)="addToCart(product,$event)"
                    class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700">
                    <ng-container>
                        @if(isProductInCart(product._id!)){
                        <mat-icon>
                            'remove_shopping_cart'
                        </mat-icon>
                        <span>
                            Remove from cart
                        </span>
                        }@else{
                        <mat-icon>
                            'add_shopping_cart'
                        </mat-icon>
                        <span>
                            Add to cart
                        </span>
                        }
                    </ng-container>
                </button>
            </div>}
        </div>
    </div>

    @if(similarProducts?.length>0){
    <div class="px-10 py-5 mt-5">
        <h4 class="text-2xl font-bold">Similar Products</h4>
        <div class="flex flex-wrap gap-1">
            @for(product of similarProducts; track $index){
            <app-product-card [product]="product"></app-product-card>
            }
        </div>
    </div>
    }

</div>
}@else{
<h2>Loading...</h2>
}