<header class="header">
    <div class="container">
        <div class="logo cursor-pointer" [routerLink]="['/']" routerLinkActive="router-link-active">
            <a routerLink="">K-Mart</a>
        </div> @if(authService.isLoggedIn){
        <div class="search-bar">
            <input type="text" placeholder="Search for products..." (keyup.enter)="onSearch($event)"
                [(ngModel)]="searchTerm">
            <button (click)="onSearchButton()">Search</button>
        </div>}
        <div class="user-actions">
            @if(authService.isAdmin){
            <a routerLink="/admin">{{authService.userName}}</a>
            }@else {
            <a routerLink="/profile">{{authService.userName}}</a>
            }
            @if(authService.isLoggedIn){
            @if(!authService.isAdmin){
            <a routerLink="/wishlists"><mat-icon class="text-red-500">favorite</mat-icon></a>
            <a routerLink="/cart" class="cart">
                <mat-icon>shopping_cart</mat-icon>
            </a>
            <a routerLink="/orders">Orders</a>
            }
            <a (click)="logout()" class="cursor-pointer ml-2">Logout</a>
            }@else {
            <a routerLink="/login" class="cursor-pointer ml-2">Login</a>
            <a routerLink="/register" class="cursor-pointer ml-2">Register</a>
            }
        </div>
    </div>
    @if(authService.isLoggedIn){
    <nav>
        <ul class="category-list mt-4">
            @for(category of categoryList; track $index){
            <li (click)="searchCategory(category._id!)" class="cursor-pointer">
                <a>{{ category.name }}</a>
            </li>
            }
        </ul>
    </nav>
    }
</header>